@import "tailwindcss";

@theme {
  --color-primary-green: #A3C93A;
  --color-accent-green: #6CA52C;
  --color-light-grey: #D7D3CA;
  --color-text-dark: #333333;
  --color-text-muted: #666666;
  --font-sans: "Inter", system-ui, sans-serif;
}

:root {
  font-family: var(--font-sans);
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f8fafc;
  color: var(--color-text-dark);
}
